@charset "utf-8";
main{
    width: 1131px;
    margin: 0 auto;
}

.profile_right{
    margin-left: 20px;
}

.author_area{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
   border-style: solid;
   border-color: #eeeeee;
   border-width: 20px;
}

.author_biography{
    margin-top: 20px;
   margin-left: 20px;
}

.biography_paragraph{
    margin-left: 20px;
}

.profile_wrapper{
    margin-left: 20px;
}

.moodify_request_wrapper{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.author_name_wrapper{
    margin-top: 20px;
    margin-left: 20px;
}

.author_new .author_new_btn .fa-circle{
    font-size: 6px;
    align-content: center;
}

.author_new{
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.author_new .author_new_btn{
    display: flex;
    background-color: white;
    color: #1f8ce6;
    padding: 5px 30px; /* 위아래 10px, 좌우 20px */
    font-size: 20px;
    border-radius: 7px;
    font-weight: bold;
}

.author_new .author_new_btn:hover{
    background-color: #eeeeee;
}

.lang_ko{
    font-size: 28px;
    font-weight: bold;
}

.lang_other{
    margin-left: 10px;
    color: gray;
}

.profile_title{
    color: gray;
}

.profile_wrapper li{
    margin-top: 6px;
}

.list_title{
    color: gray;
    margin-right: 10px;
}

.update_profile_request{
    display: flex;
    background-color: white;
    padding: 5px 10px; /* 위아래 10px, 좌우 20px */
    font-size: 14px;
    border-radius: 7px;
    font-weight: bold;
    align-items: center;
    margin-right: 30px;
}

.update_profile_request:hover{
    background-color: #eeeeee;
}

.author_area hr{
    width: 95%;
      margin-left : auto;
  margin-right : auto;
  color: gray;
}

.biography_paragraph{
    margin-right: 20px;
    margin-bottom: 20px;
}

.update_date{
    color: gray;
    margin-right: 10px;
}
.alternative_intro{
    margin-left: 20px;
    margin-bottom: 20px;
}

.author_book{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header_wrapper{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

 .header_title{
    width: 50%;
    font-size: 20px;
    margin-left: 40px;
 }
.books_filter{
    width: 50%;
    justify-content: flex-end;
    display: flex;
}
.books_filter li:nth-child(1)::after{
    content: " | ";
    margin-left: 15px;
    margin-right: 15px;
}
.books_filter li:nth-child(2)::after{
    content: " | ";
    margin-left: 15px;
    margin-right: 15px;
}
.books_filter li:nth-child(3){
    margin-left: 15px;
    margin-right: 10px;
}
.book_macro{
    margin-left: 40px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.book_thumbnail{
    margin-right: 20px;
}
.book_thumbnail img{
    box-shadow: 3px 3px 3px 3px #333333;
}
.title_text{
    font-size: 18px;
    font-weight: bold;
}

.meta_content{
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.meta_content .meta_star p::after{
    content: " | ";
}
.meta_content .meta_author::after{
    content: " | ";
}
.meta_content .meta_translator::after{
    content: " | ";
}
.meta_content .meta_publisher::after{
    content: " | ";
}
.meta_content p{
    margin-left: 3px;
}
.meta_star .fa-star{
    font-size: 10px;
    color: red;
}

.meta_description .meta_description_info{
    font-size: 15px;
    margin-right: 20px;
}
 .buy_price_info{
    margin-top: 10px;
 }
.price{
    color: #1f8ce6;
    font-weight: bold;
}
.rental{
    color: #1f8ce6;
    font-weight: bold;
}

.discount_info{
text-decoration: line-through;
}
.discount{
    color: red;
    font-weight: bold;
}
.book_metadata_wrapper{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 30px;
}
