@charset "utf-8";
main{
    width: 931px;
margin: 0 auto;
margin-bottom: 30px;
}

#page_detail{
    margin-top: 50px;
}

.detail_body_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.book_thumbnail{
    height: 450px;
    width: 25%;
}
.detail_body{
    width: 100%;
}

.book_category_list{
    display: flex;
    font-size: 14px;
}
.book_star_list{
    display: flex;   
    font-size: 14px;
}
#book_star_star{
    color: red;
}
.book_info_list{
    display: flex;
}
.sub{
    font-size: 14px;
    color: gray;
}
#book_category_sub::after{
    content: " | ";
      margin-left: 5px;
    margin-right: 5px;
}
.interest_btn{
    width: 80px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid #1f8ce6;
    color : #1f8ce6;
    font-weight: bold;
}
#event_list{
    border-bottom: 1px solid #ccc;
    line-height: 40px;
   margin-bottom: 10px;
   font-size: 15px;
   font-weight: bold;
}
#event_list_2{
    line-height: 20px;
     margin-bottom: 10px;
     font-size: 15px;
   font-weight: bold;
}
#event_ul{
    display: flex;
    flex-direction: column;
}
.event{
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-top: 10px;

      
}
#book_star_list_front::after{
    content: " | ";
      margin-left: 5px;
    margin-right: 5px;
}
#book_info_list_front::after{
    content: " | ";
    margin-left: 5px;
    margin-right: 5px;
}
.detail_header{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.book_price{
    margin-top: 25px;

}
.book_price_main{
    border-bottom:  1px solid #ccc;
    border-top: 1px solid #ccc; 
    display: flex;
}



.book_price_title{
    display: flex;
    width: 15%;
    height: 50px;
  justify-content : center;
  align-items : center;
    border-right: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold;
    font-size: 14px;
}
.book_price_date{
    margin-top: 5px;
    text-align: end;
}
.book_collect{
     text-align: end;
     margin-top: 30px;
}
.book_price_content{
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 14px;
    justify-content:space-around;
}
.book_main_info{
    width: 75%;
    margin-left: 20px;
}
.book_title{
margin-top: 10px;
margin-bottom: 15px;
}

.book_price_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}
.book_category{
    width: 100%;
}
#sale_percent{
    color: red;
}
#sale_money{
    color: #1f8ce6;
}
.book_price_date{
    font-size: 12px;
    color: gray;
}
.collect{
    width: 200px;
    height: 50px;
    background-color: #1f8ce6;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    font-size:16px;
}
.book_collect_img{
    font-size: 30px;
}
.fa-heart {
    margin-right: 10px;
}
.fa-cart-shopping{
     margin-right: 10px;
}
.fa-gift{
     margin-right: 10px;
}
.detail_Metadata{
    background-color: #ccc;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-radius: 10px;
    border: gray;
    margin-top: 50px;
}
.file_info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.isbn{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.uci{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.blank_1{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.blank_2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.enviroment{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.published_info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.listen{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.detail_Metadata_title{
    margin-top: 15px;
    margin-left: 15px;
    width: 25%;
    font-size: 15px;
    font-weight: bold;
}
.detail_Metadata_info{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 35px;
    font-size: 14px;
    color: gray;
}
.introduction{
    background-color: bisque;
     width: 100%;
}
.introduction_title{
    font-size: 24px;
}
.sub_1{
    width: 33%;
    height: 50px;
}
.sub_2{
    width: 33%;
    height: 50px;
}
.sub_3{
    width: 33%;
    height: 50px;
}
.author{
    width: 100%;
    margin-top: 50px;
}
.other_books_ul{
    display: flex;
    justify-content: space-between;
}
.other_books_info{
    width: 20%;
}
.other_books_info img{
    border-radius: 10px;
}
.information_title{
    margin-top: 40px;
    margin-bottom: 15px;
}
.title_h3{
    margin-bottom: 10px;
}

.but{
  text-align: center;
}
.but_wrap{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.but{
  width: 33.3%;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  border: 1px solid gray;
  box-sizing: border-box;

}
.content_wrap{
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.content{
  width: 100%;
  height: 100%;
  font-size: 50px;
  display: none;
  text-overflow:ellipsis;
  overflow:hidden
}
/*추후 추가-삭제할 클래스명(tab)*/
.content.tab{
  display: block;
  font-size: 15px;
  line-height: 2;          
}
.sub{
    border-bottom: 0;
}
/**/

.but:nth-child(1){
  border-left: 0;
}
.but:nth-child(2){
  background-color: #eee;
  border-left: 0;
   border-right: 0;
}
.but:nth-child(3){
  border-right: 0;
}
.more_btn{
    width: 100%;
    height: 50px;
    position: absolute;  
    bottom: -50px;
    left: 0px;
}
.author_kor{
    font-size: 24px;
    font-weight: bold;
}
.authoor_otherlang{
    color: gray;
}
.author_main_title{
    margin-top: 10px;
}
.list_title{
    margin-right: 15px;
}
.profile_wrapper{
    margin-top: 10px;
}
.author_content{
    margin-top: 70px;
}
.profile_wrapper{
    color:gray;
}
.content_site{
    margin-right: 10px;
    color: #1f8ce6;
}
.author_update{
    display: flex; 
    justify-content: end;
}
.update_date{
    color: gray;
    font-size: 15px;
}
.author_other_title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.other_books_main_title{
    font-size: 20px;
    font-weight: bold;
}
.other_more{
    font-size: 14px;
    color: gray;
}
.other_books_title{
    font-weight: bold;
}
.thumbnail_btn{
    width: 95%;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 5px;
}
.update_profile_request{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}