@charset "utf-8";

.container {
    width: 931px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 110px;
}

nav ul li:hover{
    background-color: #1e9eff;
    border-radius: 10px;
    font-weight: bold;
}

nav ul li:hover a{color: white;}

nav ul li{
    font-size: 16px;
    padding: 5px 10px;
}

#header_top {
    width: 100%;
    height: 55px;
    /* background-color: #eee; */
}

#login {
    width: 320px;
    height: 35px;
    /* background-color: green; */
    align-items: end;
    display: flex;
}

#login a{
 font-size: 15px;
}

#search {
    height: 26px;
    background-color: #c7bdbd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#search img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#search_box:focus {
    outline: none;
}

#search_box {
    background-color: #c7bdbd;
    border-width: 0;
}

#logo {
    width: 65px;
    height: 25px;
    margin-left: 7px;
    text-align: center;
}

#logo svg{
    width: 100%;
    height: 100%;
}

#header_bottom {
    width: 100%;
    height: 55px;
    /* background-color: tomato; */
    display: flex;
}

#header_top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_bottom .container nav {
    display: flex;
    justify-content: space-between;
}


.list {
    display: flex;
}

#main_content {
    width: 931px;
    margin: 0 auto;

    /* height: 3915px; */
    /* background-color: #e6dbdb; */
}

#nav_main {
    width: 100%;
    display: flex;
}

#slide_1 {
    width: 931px;
    height: 420px;
    margin-top: 10px;
}

#slide_1 .swiper-slide{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        object-fit: contain;
}
#slide_1 img{
   width: 100%;
    height: 100%;
    background-position: center center;
    object-fit: cover;
}

#top-btn { 
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    background-color: white;
    border: 2px solid #dbdbdb;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}



#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-5) {
    background-image: url("../img/main_1.webp");
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-4) {
    background-image: url("../img/main_2.webp");
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-3) {
    background-image: url("../img/main_3.webp");
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-2) {
    background-image: url("../img/main_4.webp");
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-1) {
    background-image: url("../img/main_5.webp");
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n) {
    background-image: url("../img/main_6.webp");
}




/* 스와이퍼에서 가져온 css */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide img {
    border-radius: 10px;
    background-size: cover;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-5) .main_txt p{
    top: 65%;
    left: 25%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-4) .main_txt p{
    top: 65%;
    left: 15%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-3) .main_txt p{
    top: 65%;
    left: 20%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-2) .main_txt p{
    top: 65%;
    left: 20%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-1) .main_txt p{
    top: 65%;
    left: 25%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n) .main_txt p{
    top: 65%;
    left: 22%;
    color: white;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
}

#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-5) .main_txt span{
    top:85%;
    left: 17%;
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-4) .main_txt span{
    top:85%;
    left: 23%;
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-3) .main_txt span{
    top:85%;
    left: 12%;
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-2) .main_txt span{
    top:85%;
    left: 12%;
    color: white;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n-1) .main_txt span{
    top:85%;
    left: 10%;
    color: white;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}
#slide_1 .swiper-wrapper .swiper-slide:nth-child(6n) .main_txt span{
    top:85%;
    left: 11%;
    color: white;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}


.slide_1_sale{
 position: absolute;
 top :2%;
left: 2%;
 height: 26px;
 width: 52px;   
 color: white;
object-fit: cover;
}

.slide_2_sale{
 position: absolute;
 top :2%;
left: 20%;
 height: 26px;
 width: 48px;   
 color: white;
object-fit: cover;
}


#slide_2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 스와이퍼에서 가져온 2번째 scc */
#slide_2 .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#slide_2 .swiper-slide {
    text-align: center;
    height: calc((100% - 20px) / 3) !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
}

#slide_2 .slide_2_img {
    height: 100%;
    width: 25%;
    object-fit: cover;
}

#slide_2 .slide_2_img img {
    border-radius: 10px;
}

#slide_2 .slide_2_rank {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#slide_2 .slide_2_content {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.slide_2_content_title h5 {
    font-size: 18px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}


.slide_2_content_content p {
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

.slide_2_content .slide_2_content_content p{
    font-size: 18px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/}

    .slide_2_content .slide_2_content_content_2 p{
    font-size: 15px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/}


/* 스와이퍼에서 가져온 3번째 */
/* 정해진 영영보다 크게 100%를 주게되면 제목자리 때문에 그만큼 밀려서 표현, 그래서 90%를 줌    */
#today_ridi .swiper {
    height: 90%;
}

#now_ridi_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;
}

#now_ridi_content .swiper {
    width: 100%;
    height: 100%;
}



#icon_main {
    width: 100%;
    height: 140px;
    display: flex;
}

#icon_main ul {
    display: flex;
    margin: 20px;
    justify-content: center;
}

#icon_main li {
    margin: 10px;
}

#icon_main li img {
    height: 70px;
    width: 70px;
}

#icon_main li span {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
}


#slide_2 {
    width: 100%;
    height: 350px;
    margin-bottom: 35px;
}



#today_ridi {
    width: 100%;
    height: 350px;
    margin: 0 auto;
}



#best {
    width: 931px;
    height: 500px;
    display: flex;
}

#best .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#best_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

/* 사이즈가 작아서 생긴 문제 */
#best_content {
    display: flex;
    flex-wrap: wrap;
    width: 931px;
    height: 480px;
    justify-content: space-around;

}

#best .best {
    display: flex;
    width: 33%;
    height: 150px;
    margin-top: 3px;
}

#best .best_image{
    height: 100%;
    width: 45%;
    
}
#best .best_image img{
    max-width: auto;
    max-height: 100%;
    border-radius: 10px;
}

.best_rank{
    width: 15%;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

#best_content .best_content{
    width: 50%;
    align-content: center;
}

#best .best_title h3{
overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 150px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}
#best .best_author p{
    font-size: 17px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}
#best .best_rating span:nth-child(1){
    font-size: 16px;
    color: red;
    font-weight: bold;
}


#best .best_rating span:nth-child(2){
    font-size: 14px;
}

#new_ridi {
    width: 100%;
    height: 260px;
    padding-top: 20px;
}

#new_ridi_contnet {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#new_ridi_contnet .new_ridi {
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#onlyridi_img_1{
    background-image: linear-gradient(to top, #1b2445 70%, white 30%);
    background-position: bottom;
    height: 67%;
    
}

#onlyridi_img_2 img{
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#onlyridi_img_2{
    background-image: linear-gradient(to top, #044464 70%, white 30%);
    background-position: bottom;
    height: 67%;
    
}

#onlyridi_img_3 img{
    height: 100%;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#onlyridi_img_3{
    background-image: linear-gradient(to top, #273563 70%, white 30%);
    background-position: bottom;
    height: 67%;
    
}

#onlyridi_img_1 img{
    height: 100%;
        border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.onlyridi_text p:nth-child(1){
    font-size: 17px;
    font-weight: bold;
}

.onlyridi_text p:nth-child(2){
    font-size: 13px;
    color: #c7bdbd;
}

#new {
    width: 100%;
    height: 300px;
}

#new .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#new_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

#new .swiper {
    height: 90%;
}

#new .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

#new .new_content {
    width: 100%;
    text-align: left;
}

#new .new_image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#new .new_content p {
    font-size: 16px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 174px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#new .new_content h4 {
    font-size: 18px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 150px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#new .new_content p {
    font-size: 16px;
    overflow: hidden;
    /* 있어야 가려짐 */
    text-align: left;
    width: 150px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */

    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#best_inweek_content .swiper {
    height: 90%;
}

#best_inweek_content .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
}

.best_inweek_content_content{
    width: 100%;
    text-align: center;
}

#best_inweek_content h3{
    overflow: hidden;
    /* 있어야 가려짐 */
    width: 170px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */
    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#best_inweek_content p{
    font-size: 16px;
    overflow: hidden;
    /* 있어야 가려짐 */
    width: 140px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */
    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#space {
    width: 100%;
    height: 465px;
}

#space_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#space_content {
    display: flex;
    flex-wrap: wrap;
    width: 931px;
    height: 430px;
    justify-content: space-around;

}

#space .space {
    display: flex;
    width: 19%;
    height: 100%;
    position:relative; 
}

#space_content .space:nth-child(1) .space_back{
    width: 100%;
    height: 100%;
    background-image: url("../img/space_1.webp");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#space_content .space:nth-child(2) .space_back{
        width: 100%;
    height: 100%;
    background-image: url("../img/space_2.webp");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#space_content .space:nth-child(3) .space_back{
        width: 100%;
    height: 100%;
    background-image: url("../img/space_3.webp");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#space_content .space:nth-child(4) .space_back{
        width: 100%;
    height: 100%;
    background-image: url("../img/space_4.webp");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#space_content .space:nth-child(5) .space_back{
        width: 100%;
    height: 100%;
    background-image: url("../img/space_5.webp");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

#space_content .space_back_2{
    position:absolute;
    bottom:0px;
    width: 100%;
    height: 50%;
}

.space_back_2 img{
    width: 100%;
    height: 100%;
margin-top: 80px;
}

.space {
    text-align: center;
}

#best_inweek {
    width: 100%;
    height: 375px;
}

#best_inweek_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#best_inweek_content {
    width: 100%;
    height: 100%;
}

#best_inweek_content .swiper-slide {
    height: 100%;
}


#event {
    width: 100%;
    height: 135px;
}


#event_title {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#event_content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.event_content {
    width: 33%;
    height: 100%;
    position: relative;
}

.image_txt_1 {
    top: 7%;
    left: 4%;
    color: white;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
}

.image_txt_2 {
    top: 60%;
    left: 4%;
    color: #c7bdbd;
    position: absolute;
    font-size: 7px;
}

.image_txt_3 {
    top: 30%;
    left: 4%;
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
}

.event_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #430784;
}


#now_ridi {
    width: 100%;
    height: 420px;
}

#now_ridi .swiper-wrapper {
    width: 931px;
    height: 100%;
}

#now_ridi_content {
    height: 100%;
}

#now_ridi_content .swiper-slide {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#now_ridi .now_ridi_content_img{
    height:50%;
}
#now_ridi .container{
    height: 92%;
}
#now_ridi p{
    font-size: 16px;
    overflow: hidden;
    /* 있어야 가려짐 */
    width: 140px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */
    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

#now_ridi h4{
    font-size: 18px;
    overflow: hidden;
    /* 있어야 가려짐 */
    width: 140px;
    /* 보이고싶은 만큼의 크기 */
    text-overflow: ellipsis;
    /* 글자가 넘치는 경우 ... 처리 */
    white-space: nowrap;
    /* 글자가 아무리 넘쳐도 1줄 안에 되게 ※displayflex:nowrap 같이*/
}

footer {
    width: 931px;
    height: 200px;
    /* background-color: #d17070; */
    margin: 0 auto;
}

#footer_top {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

#footer_left {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#footer_bottom {
    width: 100%;
    height: 70px;
    /* background-color: #eee; */
}

#footer_left {
    font-size: 14px;
}

#footer_left a:hover{
    color: gray;
}

#footer_bottom {
    font-size: 12px;
}

#copyright {
    display: flex;
}

#copyright li {
    padding: 0px 10px;
}

#ridi_inform_btn {
    border: none;
    background-color: white;
    cursor: pointer;
}
.fa-facebook-f{
padding-right: 30px;
}
.fa-instagram{
padding-right: 30px;
}
.fa-x-twitter{
padding-right: 30px;
}
.fa-youtube{
padding-right: 30px;
}
.fa-tiktok{
padding-right: 30px;
}